.mbac{
  background: #f0f0f0;
  padding-bottom: 80px
}
.gmadjust{
  width:90%;
  min-height: 80%;
  margin: 0 auto;
}
.mgoods_main{
  width: 100%;
  min-height: 70%;
}
.mgoods_header{
  height: 150px;
  width: 100%;
  margin: 20px 0 10px 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
}
.mgoods_header_left{
  background: #3c3c3c;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: none;
  height: 100%;
  box-shadow:0 0 10px #bdbfc2;
  overflow: auto;
}
.mgoods_header_right{
  width: 80%;
  height: 200px;
}
.mads{
  width: 100px;
  margin-left: 1%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mads_item{
  height: calc((100% - 5px)/2);
  width: 100%;
  background: white;
  box-shadow:0 0 10px #bdbfc2;
}
.mmobile-type{
  height: 100px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mmmobileTypeItem{
  width: 23%;
  height: 90%;
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  background: white;
  border-radius: 40px;
}
.mmobile-type-item{
  height: 60%;
}
.malreadyType{
  font-size: 14px;
  margin-left: 20px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
  color: #797979;
  display: flex;
  align-items: center;
}
.mclearAlreadyType{
  margin-left: 10px;
  color: #8cc5ff;
}
.mgoods_order{
  height: 20px;
  width: 100%;
  color: #797979;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.mline{
  border-bottom: #d6d3da 1px solid;
  height: 1px;
  width: 80%;
  margin: 0 auto 20px;
}
.mgoods_time{
  font-size: 15px;
  width: 100px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  color: rgb(253,192,6);
  font-weight: bold;
}
.mgoods_see{
  font-size: 15px;
  width: 100px;
  cursor: pointer;
  height: 100%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
}
.mgoods_content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mgoods_content_col1{
  width: 48%;
}
.mgoods_content_col2{
  width: 48%;
}
.mgoods_items{
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  background: white;
  padding: 0;
  display: block;
}
.mgoods_items_img{
  width: 100%;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  display:block;
}
.mgoods_items_content{
  width: 100%;
  height: 20%;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}
.mitems_line1{
  width: 100%;
  height: 100%;
  font-size: 15px;
}
.mline1_title{
  width: calc(100% - 10px);
  height: 50%;
  padding-left: 5px;
  padding-right: 5px;
}
.mline1_date{
  width: calc(100% - 10px);
  height: 50%;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  align-items: center;
  color: #c3c3c3;
}
.mmore_goods{
  width: 100%;
  height: 30px;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  color: #939393;
}
.MfocusInputDiv{
  width: 100%;
  height: calc(100% - 60px);
  display: none
}
.MhotSearch{
  width: 94%;
  margin-left: 3%;
  color: #a6a6a6;
  font-size: 15px;
}
.MhotSearchMain{
  width: 94%;
  margin-left: 3%;
  display: flex;
  flex-wrap: wrap;
}
.MhotSearchItem{
  padding: 3px 6px;
  border: 1px solid #a6a6a6;
  margin-right: 2%;
  border-radius: 3px;
}
.MhistorySearch{
  width: 94%;
  margin-left: 3%;
  margin-top: 20px;
  color: #a6a6a6;
  font-size: 15px;
}
.MhistorySearchMain{
  width: 94%;
  margin-top: 5px;
  margin-left: 3%;
  display: flex;
  flex-wrap: wrap;
}
.MhistorySearchItem{
  border: 1px solid #a6a6a6;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: 3px;
}
