.myHead{
  height: 7%;
  width: 100%;
  position: relative;
  background: white;
}
.head_adjust{
  margin: 0 auto;
  width: 1300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 80%;
  cursor:pointer
}
.search-div{
  height: 100%;
  width: 40%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_main{
  width: 100%;
  height: 50%;
  border: 1px solid rgba(253,192,6,0.6);
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.search-input{
  margin-left: 3%;
  width: 77%;
  height: 90%;
  background: transparent;
  border: transparent;
}
.search-input::placeholder{
  color: #cdcdcd;
  font-size: 100%;
}

.search-button{
  width: 20%;
  background: rgba(253,192,6,0.6);
  height: 100%;
  border-radius: 0 13px 13px 0;
  color: white;
  font-size: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search-button:hover{
  background: rgb(253,192,6);
}

.login{
  height: 80%;
  color: #222222;
  font-size: 85%;
  width: 30%;
  display: flex;
  align-items: center;
}
.login_button{
  display: flex;
  cursor:pointer;
}
.login_button:hover{
  color: rgb(253,192,6);
  transition: all .15s;
}
.logout_button{
  font-size: 20px;
  color: red;
  margin-left: 10px;
  cursor:pointer;
}
.onlineState{
  display: none;
  align-items: center;
  cursor:pointer;
}
.back{
  display: flex;
  align-items: center;
  height: 80%;
  width: 30%;
  color:#222222;
  justify-content: flex-end;
}
.release-button{
  width: 35%;
  height: 100%;
  font-size: 90%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.release-button:hover{
  color: rgb(253,192,6);
  transition: all .15s;
}
.cancel_button{
  border: transparent;
  background: transparent;
  cursor:pointer;
  width: 20%;
  height: 30px;
}
.confirm_button{
  cursor:pointer;
  background: rgb(253,192,6);
  color: white;
  border: transparent;
  border-radius: 3px;
  width: 20%;
  height: 30px;
}
.PCfocusDiv{
  width: 40%;
  z-index: 999;
  background: white;
  position: fixed;
  margin-left: 30%;
  display: none;
  font-size: 15px;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.PChotSearch{
  width: 50%;
  margin: 0 0 10px 0;
}
.PChistorySearch{
  width: 50%;
  margin: 0 0 10px 0;
}
.PChistorySearchMain{
  border-right: 1px solid #8c8c8c;
  width: calc(100% - 10px);
  margin-left: 10px;
}
.PChotSearchMain{
  width: calc(100% - 10px);
  margin-left: 10px;
}
.searchHistoryItem{
  width: calc(100% - 10px);
  margin-left: 10px;
  padding: 3px 0;
  cursor: pointer;
  color: #8c8c8c;
}
